.hee{
    display: flex;
    justify-content: right;
    margin-top: 40px;
    margin-right: 100px;
}

.category{
    margin-left: 300px;
}

.quantity-type{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}


.driver{
    margin-right: 100px;
}

.accordion-button{
    margin-right: 100px;
    height: 50px;
}

#req{
    display: flex;
    justify-content: flex-start;
    margin-right: 240px;
}

th{
    text-align: center;
}
tbody{
    text-align: center;
}
